<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pwc.pwcesg.frontoffice.disclosure.mapper.DisclosureMapper">
	<!--  토픽 목록 조회 -->
	<select id="selectTpicInfoList"  resultType="camelcasemap">
		SELECT
			TPIC_UID			/* 토픽채번 */
			, TPIC_NM			/* 토픽명 */
			, TPIC_GB_CD		/* 토픽구분코드 */
			, TPIC_MNU_CD		/* 토픽메뉴코드 */
			, RLS_TGT_CD_ARRY	/* 공개대상코드배열 */
			, USE_YN			/* 사용여부 */
			, DP_YN				/* 전시여부 */
			, DP_SEQ			/* 전시순서 */
			, DP_STT_DT			/* 전시시작일 */
			, DP_END_DT			/* 전시종료일 */
			, PIRD_STNG_USE_YN	/* 기간설정사용여부 */
			, DP_FIX_YN			/* 전시고정여부 */
		FROM ESG_DB.DP_TPIC_INFO
		WHERE TPIC_GB_CD = '20'			/* 토픽구분코드(10: ESG실행, 20: ESG공시/평가/인증) */
		AND USE_YN = 'Y'				/* 사용여부 */
		AND DP_YN = 'Y'					/* 전시여부 */
		/*AND  if(PIRD_STNG_USE_YN = 'Y', DP_STT_DT <![CDATA[<=]]> CURRENT_TIMESTAMP, true)*/		/* 전시시작일 */
		AND (CASE
			WHEN PIRD_STNG_USE_YN = 'Y' THEN
				CASE WHEN DP_STT_DT <![CDATA[<=]]> GETDATE() THEN 1 ELSE 0 END
			ELSE 1
		END) = 1
		/*AND  if(PIRD_STNG_USE_YN = 'Y',  DP_END_DT <![CDATA[>=]]> CURRENT_TIMESTAMP, true)*/		/* 전시종료일 */
		AND (CASE
			WHEN PIRD_STNG_USE_YN = 'Y' THEN
				CASE WHEN DP_STT_DT <![CDATA[>=]]> GETDATE() THEN 1 ELSE 0 END
			ELSE 1
		END) = 1
		ORDER BY DP_SEQ					/* 전시순서 */
	</select>
	<!-- 토픽 부가정보 조회 -->
	<select id="selectTpicApndInfo" parameterType="camelcasemap" resultType="camelcasemap">
		SELECT
			TPIC_UID			/* 토픽채번 */
			, TPIC_TP_CD		/* 토픽유형코드 */
			, SEQ_NO			/* 순번 */
			, SUMRY_COMNT		/* 요약설명 */
			, APND_TTL			/* 부가제목 */
			, APND_CN			/* 부가내용 */
		FROM ESG_DB.DP_TPIC_APND_INFO	/* 토픽부가정보 */
		WHERE TPIC_UID = #{tpicUid}	/* 토픽채번 */
		AND TPIC_TP_CD = #{tpicTpCd}
	</select>


    <!--  삼일 인사이트 목록 조회 -->
    <select id="selectPwcInsightsList" parameterType="camelcasemap" resultType="camelcasemap">
		SELECT TOP 3
			CONT.CONT_UID			/* 콘텐츠채번 */
			, CONT.CONT_UNO			/* 콘텐츠고유번호 */
			, CONT.CONT_KIND_CD		/* 콘텐츠종류코드 */
			, CONT.CONT_RMTHD_CD	/* 콘텐츠등록방식코드 */
			, CONT.CONT_NM			/* 콘텐츠명 */
			, CONT.PBLCN_DTE		/* 발행일자 */
			, CONT.PBLCN_GB_CD		/* 발행구분코드 */
			, TRIM(CONT.PBLCN_YY) AS PBLCN_YY			/* 발행YY */
			, TRIM(CONT.PBLCN_MM) AS PBLCN_MM		/* 발행MM */
			, TRIM(CONT.PBLCN_DD)	AS PBLCN_DD		/* 발행DD */
			, CONT.DMSTC_YN			/* 국내여부 */
			, CONT.SPLY_LANG_CD		/* 제공언어코드 */
			, CONT.CONT_TP_LCLSF_CD	/* 콘텐츠유형대분류코드 */
			, CONT.CONT_TP_MCLSF_CD	/* 콘텐츠유형중분류코드 */
			, CONT.TASK_CLSF_CD		/* 업무분류코드 */
			, CONT.TPIC_MNU_CD		/* 토픽메뉴코드 */
			, CONT.USE_YN			/* 사용여부 */
			, CONT.DP_YN			/* 전시여부 */
			, CONT.DP_TP_CD			/* 전시유형코드 */
			, CONT.DP_STT_DT		/* 전시시작일 */
			, CONT.DP_END_DT		/* 전시종료일 */
			, CONT.PIRD_STNG_USE_YN	/* 기간설정사용여부 */
			, CONT.DWNLD_PSBLTY_YN	/* 다운로드가능여부 */
			, CONT.SRCH_PSBLTY_YN	/* 검색가능여부 */
			, CONT.CONT_SUMRY		/* 콘텐츠요약 */
			, CONT.CONT_ST_CD		/* 콘텐츠상태코드 */
			, CONT.KWRD_ARRY		/* 키워드배열 */
			, CONT.RLS_TGT_CD_ARRY	/* 공개대상코드배열 */
			, CONT.SRC_UID			/* 출처채번 */
			, SRC_INFO.SRC_NM
			, CONT.ATAC_FILE_UID	/* 첨부파일채번 */
			, CONT.LINK_URL			/* 링크주소 */
			, ESG_DB.fnCommCdNm('TASK_CLSF_CD',CONT.TASK_CLSF_CD) AS  TASK_CLSF_NM
			, ESG_DB.fnCommCdNm('SBJT_GB_CD',CONT.SBJT_GB_CD) AS  SBJT_GB_NM
			, APND.LINK_URL			/* 링크주소 */
			, APND.NWIN_YN			/* 새창여부 */
			, APND.CONT_SPLY_TP_CD	/* 콘텐츠제공유형코드 */
			, TRIM(APND.VOD_QUNTY_HH) AS VOD_QUNTY_HH	/* 영상분량시 */
			, TRIM(APND.VOD_QUNTY_MI) AS VOD_QUNTY_MI		/* 영상분량분 */
			, TRIM(APND.VOD_QUNTY_SEC)	AS VOD_QUNTY_SEC/* 영상분량초 */
			, ISNULL(RSS.IMG_URL ,ATAC.CNVN_FILE_FPATH) AS IMG_URL
			, (CASE
			   WHEN TP.DP_FIX_YN = 'Y' THEN TP.DP_SEQ
			   ELSE 9999
			END) AS ORDER_SEQ
		FROM
			ESG_DB.ST_CONT_INFO CONT	/* 콘텐츠정보 */
			INNER JOIN ESG_DB.ST_CONT_APND_INFO APND	/* 콘텐츠부가정보 */
				ON CONT.CONT_UID = APND.CONT_UID 	/* 콘텐츠채번 */
				AND APND.SEQ_NO = 1
			LEFT OUTER JOIN ESG_DB.BT_RSS_INFO RSS
				ON CONT.LINK_URL = RSS.LINK_URL
			LEFT OUTER JOIN ESG_DB.CM_ATAC_DTL_INFO ATAC
				ON CONT.ATAC_FILE_UID = ATAC.ATAC_FILE_UID AND ATAC.ATAC_TP_CD='40' AND ATAC.DP_YN='Y' AND ATAC.USE_YN='Y'
			INNER JOIN ESG_DB.DP_CONT_TPIC_INFO TP 	/* 콘텐츠토픽정보 */
				ON CONT.CONT_UID = TP.CONT_UID 	/* 콘텐츠채번 */
				AND TP.DP_YN = 'Y'
				AND TP.TPIC_UID =#{tpicUid}	/* 토픽채번 */
			INNER JOIN ESG_DB.DP_TPIC_INFO TPIC 	/* 토픽정보 */
				ON TP.TPIC_UID = TPIC.TPIC_UID	/* 콘텐츠채번 */
				AND TPIC.TPIC_MNU_CD = '70'
			LEFT JOIN ESG_DB.ST_SRC_INFO SRC_INFO ON
				SRC_INFO.SRC_UID = CONT.SRC_UID
		WHERE
			CONT.CONT_KIND_CD IN ('10', '20')
			AND CONT.CONT_TP_LCLSF_CD = '10'	/* 콘텐츠유형대분류코드(10:삼일발간물, 20:기준/가이드라인, 30:법/제도, 40:보고/연구, 50:교육/안내, 60:입수뉴스) */
			AND CONT.USE_YN ='Y'
			AND CONT.DP_YN='Y'
        ORDER BY
			ORDER_SEQ
			, CONT.LST_UPD_DT DESC
			, CONT.FST_INS_DT DESC
    </select>

    <!--   환경 >> 토픽 >> 최신 동향 목록 조회 -->
    <select id="selectTrendList" parameterType="camelcasemap" resultType="camelcasemap">
    	SELECT TOP 4
			CONT.CONT_UID			/* 콘텐츠채번 */
			, CONT.CONT_UNO			/* 콘텐츠고유번호 */
			, CONT.CONT_KIND_CD		/* 콘텐츠종류코드 */
			, CONT.CONT_RMTHD_CD	/* 콘텐츠등록방식코드 */
			, CONT.CONT_NM			/* 콘텐츠명 */
			, CONT.PBLCN_DTE		/* 발행일자 */
			, CONT.PBLCN_GB_CD		/* 발행구분코드 */
			, TRIM(CONT.PBLCN_YY) AS PBLCN_YY			/* 발행YY */
			, TRIM(CONT.PBLCN_MM) AS PBLCN_MM		/* 발행MM */
			, TRIM(CONT.PBLCN_DD)	AS PBLCN_DD		/* 발행DD */
			, CONT.DMSTC_YN			/* 국내여부 */
			, CONT.SPLY_LANG_CD		/* 제공언어코드 */
			, CONT.CONT_TP_LCLSF_CD	/* 콘텐츠유형대분류코드 */
			, CONT.CONT_TP_MCLSF_CD	/* 콘텐츠유형중분류코드 */
			, CONT.TASK_CLSF_CD		/* 업무분류코드 */
			, CONT.TPIC_MNU_CD		/* 토픽메뉴코드 */
			, CONT.USE_YN			/* 사용여부 */
			, CONT.DP_YN			/* 전시여부 */
			, CONT.DP_TP_CD			/* 전시유형코드 */
			, CONT.DP_STT_DT		/* 전시시작일 */
			, CONT.DP_END_DT		/* 전시종료일 */
			, CONT.PIRD_STNG_USE_YN	/* 기간설정사용여부 */
			, CONT.DWNLD_PSBLTY_YN	/* 다운로드가능여부 */
			, CONT.SRCH_PSBLTY_YN	/* 검색가능여부 */
			, CONT.CONT_SUMRY		/* 콘텐츠요약 */
			, CONT.CONT_ST_CD		/* 콘텐츠상태코드 */
			, CONT.KWRD_ARRY		/* 키워드배열 */
			, CONT.RLS_TGT_CD_ARRY	/* 공개대상코드배열 */
			, CONT.SRC_UID			/* 출처채번 */
			, CONT.ATAC_FILE_UID	/* 첨부파일채번 */
			, CONT.LINK_URL			/* 링크주소 */
			, APND.NWIN_YN			/* 새창여부 */
			, APND.CONT_SPLY_TP_CD	/* 콘텐츠제공유형코드 */
			, TRIM(APND.VOD_QUNTY_HH) AS VOD_QUNTY_HH	/* 영상분량시 */
			, TRIM(APND.VOD_QUNTY_MI) AS VOD_QUNTY_MI		/* 영상분량분 */
			, TRIM(APND.VOD_QUNTY_SEC)	AS VOD_QUNTY_SEC/* 영상분량초 */
			, ISNULL(RSS.IMG_URL ,ATAC.CNVN_FILE_FPATH) AS IMG_URL
			, RSS.SUMRY
			, (CASE
			   WHEN TP.DP_FIX_YN = 'Y' THEN TP.DP_SEQ
			   ELSE 9999
			END) AS ORDER_SEQ
		FROM
			ESG_DB.ST_CONT_INFO CONT	/* 콘텐츠정보 */
			INNER JOIN ESG_DB.ST_CONT_APND_INFO APND	/* 콘텐츠부가정보 */
				ON CONT.CONT_UID = APND.CONT_UID 	/* 콘텐츠채번 */
				AND APND.SEQ_NO = 1
			INNER JOIN ESG_DB.DP_CONT_TPIC_INFO TP 	/* 콘텐츠토픽정보 */
				ON CONT.CONT_UID = TP.CONT_UID 	/* 콘텐츠채번 */
				AND TP.DP_YN = 'Y'
				AND TP.TPIC_UID = #{tpicUid}	/* 토픽채번 */
			LEFT OUTER JOIN ESG_DB.BT_RSS_INFO RSS
				ON CONT.LINK_URL = RSS.LINK_URL
			LEFT OUTER JOIN ESG_DB.CM_ATAC_DTL_INFO ATAC
				ON CONT.ATAC_FILE_UID = ATAC.ATAC_FILE_UID AND ATAC.ATAC_TP_CD='40' AND ATAC.DP_YN='Y' AND ATAC.USE_YN='Y'
			INNER JOIN ESG_DB.DP_TPIC_INFO TPIC 	/* 토픽정보 */
				ON TP.TPIC_UID = TPIC.TPIC_UID	/* 콘텐츠채번 */
				AND TPIC.TPIC_MNU_CD = '70'
		WHERE
			CONT.CONT_KIND_CD = '40'
			AND CONT.CONT_TP_LCLSF_CD = '60'	/* 콘텐츠유형대분류코드(10:삼일발간물, 20:기준/가이드라인, 30:법/제도, 40:보고/연구, 50:교육/안내), 60:입수뉴스 */
			AND CONT.USE_YN ='Y'
			AND CONT.DP_YN='Y'
		ORDER BY
			ORDER_SEQ
			, CONT.PBLCN_DTE DESC
			, CONT.LST_UPD_DT DESC
			, CONT.FST_INS_DT DESC
    </select>

    <!--  ESG 영상모음 목록 조회 -->
    <select id="selectVideoList" parameterType="camelcasemap" resultType="camelcasemap">
    	SELECT TOP 3
			CONT.CONT_UID			/* 콘텐츠채번 */
			, CONT.CONT_UNO			/* 콘텐츠고유번호 */
			, CONT.CONT_KIND_CD		/* 콘텐츠종류코드 */
			, CONT.CONT_RMTHD_CD	/* 콘텐츠등록방식코드 */
			, CONT.CONT_NM			/* 콘텐츠명 */
			, CONT.PBLCN_DTE		/* 발행일자 */
			, CONT.PBLCN_GB_CD		/* 발행구분코드 */
			, TRIM(CONT.PBLCN_YY) AS PBLCN_YY			/* 발행YY */
			, TRIM(CONT.PBLCN_MM) AS PBLCN_MM		/* 발행MM */
			, TRIM(CONT.PBLCN_DD)	AS PBLCN_DD		/* 발행DD */
			, CONT.DMSTC_YN			/* 국내여부 */
			, CONT.SPLY_LANG_CD		/* 제공언어코드 */
			, CONT.CONT_TP_LCLSF_CD	/* 콘텐츠유형대분류코드 */
			, CONT.CONT_TP_MCLSF_CD	/* 콘텐츠유형중분류코드 */
			, CONT.TASK_CLSF_CD		/* 업무분류코드 */
			, CONT.TPIC_MNU_CD		/* 토픽메뉴코드 */
			, CONT.USE_YN			/* 사용여부 */
			, CONT.DP_YN			/* 전시여부 */
			, CONT.DP_TP_CD			/* 전시유형코드 */
			, CONT.DP_STT_DT		/* 전시시작일 */
			, CONT.DP_END_DT		/* 전시종료일 */
			, CONT.PIRD_STNG_USE_YN	/* 기간설정사용여부 */
			, CONT.DWNLD_PSBLTY_YN	/* 다운로드가능여부 */
			, CONT.SRCH_PSBLTY_YN	/* 검색가능여부 */
			, CONT.CONT_SUMRY		/* 콘텐츠요약 */
			, CONT.CONT_ST_CD		/* 콘텐츠상태코드 */
			, CONT.KWRD_ARRY		/* 키워드배열 */
			, CONT.RLS_TGT_CD_ARRY	/* 공개대상코드배열 */
			, CONT.SRC_UID			/* 출처채번 */
			, SRC_INFO.SRC_NM
			, CONT.ATAC_FILE_UID	/* 첨부파일채번 */
			, CONT.LINK_URL			/* 링크주소 */
			, APND.NWIN_YN			/* 새창여부 */
			, APND.CONT_SPLY_TP_CD	/* 콘텐츠제공유형코드 */
			, TRIM(APND.VOD_QUNTY_HH) AS VOD_QUNTY_HH	/* 영상분량시 */
			, TRIM(APND.VOD_QUNTY_MI) AS VOD_QUNTY_MI		/* 영상분량분 */
			, TRIM(APND.VOD_QUNTY_SEC)	AS VOD_QUNTY_SEC/* 영상분량초 */
			, ATAC.CNVN_FILE_FPATH AS IMG_URL
			, (CASE
			   WHEN TP.DP_FIX_YN = 'Y' THEN TP.DP_SEQ
			   ELSE 9999
			END) AS ORDER_SEQ
		FROM
			ESG_DB.ST_CONT_INFO CONT	/* 콘텐츠정보 */
			INNER JOIN ESG_DB.ST_CONT_APND_INFO APND	/* 콘텐츠부가정보 */
				ON CONT.CONT_UID = APND.CONT_UID 	/* 콘텐츠채번 */
				AND APND.SEQ_NO = 1
			INNER JOIN ESG_DB.DP_CONT_TPIC_INFO TP 	/* 콘텐츠토픽정보 */
				ON CONT.CONT_UID = TP.CONT_UID 	/* 콘텐츠채번 */
				AND TP.DP_YN = 'Y'
				AND TP.TPIC_UID = #{tpicUid}	/* 토픽채번 */
			LEFT OUTER JOIN ESG_DB.CM_ATAC_DTL_INFO ATAC
				ON CONT.ATAC_FILE_UID = ATAC.ATAC_FILE_UID AND ATAC.ATAC_TP_CD='40' AND ATAC.DP_YN='Y' AND ATAC.USE_YN='Y'
			INNER JOIN ESG_DB.DP_TPIC_INFO TPIC 	/* 토픽정보 */
				ON TP.TPIC_UID = TPIC.TPIC_UID	/* 콘텐츠채번 */
				AND TPIC.TPIC_MNU_CD = '70'
			LEFT JOIN ESG_DB.ST_SRC_INFO SRC_INFO ON
				SRC_INFO.SRC_UID = CONT.SRC_UID
		WHERE
			CONT.CONT_KIND_CD = '20'	/* 콘텐츠종류코드(10:문서, 20:영상, 30:영상(원포인트레슨), 40:뉴스) */
			AND CONT.CONT_TP_LCLSF_CD <![CDATA[<>]]> '10'
			AND CONT.USE_YN ='Y'
			AND CONT.DP_YN='Y'
        ORDER BY
			ORDER_SEQ
			, CONT.LST_UPD_DT DESC
			, CONT.FST_INS_DT DESC
    </select>

    <!--  ESG 자료모음 목록 조회 -->
    <select id="selectBbsList" parameterType="camelcasemap" resultType="camelcasemap">
    	SELECT TOP 5
			CONT.CONT_UID			/* 콘텐츠채번 */
			, CONT.CONT_UNO			/* 콘텐츠고유번호 */
			, CONT.CONT_KIND_CD		/* 콘텐츠종류코드 */
			, CONT.CONT_RMTHD_CD	/* 콘텐츠등록방식코드 */
			, CONT.CONT_NM			/* 콘텐츠명 */
			, CONT.PBLCN_DTE		/* 발행일자 */
			, CONT.PBLCN_GB_CD		/* 발행구분코드 */
			, TRIM(CONT.PBLCN_YY) AS PBLCN_YY			/* 발행YY */
			, TRIM(CONT.PBLCN_MM) AS PBLCN_MM		/* 발행MM */
			, TRIM(CONT.PBLCN_DD)	AS PBLCN_DD		/* 발행DD */
			, CONT.DMSTC_YN			/* 국내여부 */
			, CONT.SPLY_LANG_CD		/* 제공언어코드 */
			, CONT.CONT_TP_LCLSF_CD	/* 콘텐츠유형대분류코드 */
			, CONT.CONT_TP_MCLSF_CD	/* 콘텐츠유형중분류코드 */
			, CONT.TASK_CLSF_CD		/* 업무분류코드 */
			, CONT.TPIC_MNU_CD		/* 토픽메뉴코드 */
			, CONT.USE_YN			/* 사용여부 */
			, CONT.DP_YN			/* 전시여부 */
			, CONT.DP_TP_CD			/* 전시유형코드 */
			, CONT.DP_STT_DT		/* 전시시작일 */
			, CONT.DP_END_DT		/* 전시종료일 */
			, CONT.PIRD_STNG_USE_YN	/* 기간설정사용여부 */
			, CONT.DWNLD_PSBLTY_YN	/* 다운로드가능여부 */
			, CONT.SRCH_PSBLTY_YN	/* 검색가능여부 */
			, CONT.CONT_SUMRY		/* 콘텐츠요약 */
			, CONT.CONT_ST_CD		/* 콘텐츠상태코드 */
			, CONT.KWRD_ARRY		/* 키워드배열 */
			, CONT.RLS_TGT_CD_ARRY	/* 공개대상코드배열 */
			, CONT.SRC_UID			/* 출처채번 */
			, CONT.ATAC_FILE_UID	/* 첨부파일채번 */
			, CONT.LINK_URL			/* 링크주소 */
			, ATAC.CNVN_FILE_FPATH AS IMG_URL
			, SRC.SRC_NM
			, (CASE
			   WHEN TP.DP_FIX_YN = 'Y' THEN TP.DP_SEQ
			   ELSE 9999
			END) AS ORDER_SEQ
		FROM
			ESG_DB.ST_CONT_INFO CONT	/* 콘텐츠정보 */
			INNER JOIN ESG_DB.ST_CONT_APND_INFO APND	/* 콘텐츠부가정보 */
				ON CONT.CONT_UID = APND.CONT_UID 	/* 콘텐츠채번 */
				AND APND.SEQ_NO = 1
			INNER JOIN ESG_DB.DP_CONT_TPIC_INFO TP 	/* 콘텐츠토픽정보 */
				ON CONT.CONT_UID = TP.CONT_UID 	/* 콘텐츠채번 */
				AND TP.DP_YN = 'Y'
				AND TP.TPIC_UID = #{tpicUid}	/* 토픽채번 */
			LEFT OUTER JOIN ESG_DB.CM_ATAC_DTL_INFO ATAC
				ON CONT.ATAC_FILE_UID = ATAC.ATAC_FILE_UID AND ATAC.ATAC_TP_CD='40' AND ATAC.DP_YN='Y' AND ATAC.USE_YN='Y'
			LEFT OUTER JOIN ESG_DB.ST_SRC_INFO SRC
				ON CONT.SRC_UID = SRC.SRC_UID
			INNER JOIN ESG_DB.DP_TPIC_INFO TPIC 	/* 토픽정보 */
				ON TP.TPIC_UID = TPIC.TPIC_UID	/* 콘텐츠채번 */
				AND TPIC.TPIC_MNU_CD = '70'
		WHERE
			CONT.CONT_KIND_CD = '10'
			AND CONT.CONT_TP_LCLSF_CD = #{contTpLclsfCd}
			AND CONT.USE_YN ='Y'
			AND CONT.DP_YN='Y'
        ORDER BY
			ORDER_SEQ
			, CONT.LST_UPD_DT DESC
			, CONT.FST_INS_DT DESC
    </select>


 	<insert id="insertSave" parameterType="camelcasemap">
		/* selectKey 구문의 위치는 INSERT 쿼리 위, 아래 상관 없이 위치할 수 있습니다. */
		<selectKey keyProperty="csrdTgtResultUid" resultType="int" order="BEFORE">
			UPDATE ESG_DB.sequences
			SET currval = sequences.CURRVAL + 1
			OUTPUT inserted.currval
			WHERE NAME = 'CSRD_TGT_RESULT_UID'
		</selectKey>
		INSERT INTO ESG_DB.MB_CSRD_TGT_ACT_RESULT
		(
			MBR_UID,
			CSRD_TGT_RESULT_UID,
			INDSTY_LCLS_CD,
			INDSTY_MCLS_CD,
			INDSTY_SCLS_CD,
			BUSINESS_SCALE1_CD,
			BUSINESS_SCALE2_CD,
			BUSINESS_SCALE3_CD,
			CSRD_ST1_CD,
			CSRD_ST2_CD,
			CSRD_ST3_CD,
			CSRD_ST4_CD,
			CSRD_ST5_CD,
			FST_INS_ID,
			LST_UPD_ID

		)
		VALUES (
			#{mbrUid}
			, #{csrdTgtResultUid}
			, #{indstyLclsCd}
			, #{indstyMclsCd}
			, #{indstySclsCd}
			, #{businessScale1Cd}
			, #{businessScale2Cd}
			, #{businessScale3Cd}
			, #{csrdSt1Cd}
			, #{csrdSt2Cd}
			, #{csrdSt3Cd}
			, #{csrdSt4Cd}
			, #{csrdSt5Cd}
			, #{mbrId}
			, #{mbrId}
		)
	</insert>


    <select id="selectResult" parameterType="camelcasemap" resultType="camelcasemap">
        /* selectResult */

		SELECT
			R.CSRD_TGT_RESULT_UID,
			FORMAT(CAST(R.FST_INS_DT AS datetimeoffset) AT TIME ZONE 'Korea Standard Time','yyyy.MM.dd HH:mm') as FST_INS_DT,
			C.CSRD_INFO_CASE_CD,
			CC.CSRD_CASE_HTML
		FROM ESG_DB.MB_CSRD_TGT_ACT_RESULT R
		JOIN ESG_DB.CM_CSRD_INFO C
		ON ISNULL(R.CSRD_ST1_CD,'') = C.CSRD_INFO_ST1_CD
		AND ISNULL(R.CSRD_ST2_CD,'') = C.CSRD_INFO_ST2_CD
		AND ISNULL(R.CSRD_ST3_CD,'') = C.CSRD_INFO_ST3_CD
		AND ISNULL(R.CSRD_ST4_CD,'') = C.CSRD_INFO_ST4_CD
		AND ISNULL(R.CSRD_ST5_CD,'') = C.CSRD_INFO_ST5_CD
		JOIN ESG_DB.CM_CSRD_CASE_INFO CC ON C.CSRD_INFO_CASE_CD = CC.CSRD_CASE
		WHERE CSRD_TGT_RESULT_UID = #{csrdTgtResultUid}
    </select>

</mapper>
