<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{frontoffice/layout/subwrapLayout}">

<th:block layout:fragment="script">
	<script type="text/javascript">
		$(function () {
			var $doc = $(document);

			tab();

			// 이벤트 설정
			$doc.on("click", ".result01Link", function (e) {
				e.preventDefault();
				$("#csrdResult01").addClass("show");
			});
			$doc.on("click", ".result02Link", function (e) {
				e.preventDefault();
				$("#csrdResult02").addClass("show");
			});
			$doc.on("click", ".result02Link", function (e) {
				e.preventDefault();
				_formLib.initFormData('savefrm');
				$("#Qcsrd03,#Qcsrd04").hide();
				fnOpenPop("targetViewPopup");
			});
			$doc.on("click", ".csrdResult", function (e) {
				e.preventDefault();
				var csrdTgtResultUid = $(this).attr("data");

				param = {
					"url": "/disclosure/csrdResult"
					, "type": "post"
					, "data": {"csrdTgtResultUid": csrdTgtResultUid}
					, "async": false
					, "callback": function (data) {
						if (data.msg == "success") {
							$("#csrdResult01 .datetime,#csrdResult02 .datetime,#csrdViewPopupResult .datetime").html(data.info.fstInsDt)
							$("#csrdViewPopupResult .modal-cont").html(data.info.csrdCaseHtml);
							$("#csrdViewPopupResult").addClass("show");

						} else {
							alert(data.msg);
						}
					}
				};
				_comLib.callAjax(param);

			});
			fnSelectList('Frm1');
			fnSelectList('Frm2');
			fnSelectList('Frm3');

		});

		function fnSelectList(id) {
			var formData,
					param = {};
			formData = _formLib.getFormData(id);
			param = {
				url: "/mypage/selectMypageList",
				type: "post",
				data: formData,
				async: false,
				paging: "Y",
				pageNumber: _formLib.getValue($("#" + id + " #pageNumber").val()) != "" ? $("#" + id + " #pageNumber").val() : 1,
				pageSize: 10,
				callback: function (data) {
					console.log(data)
					for (var i = 0; i < data.mypageList.length; i++) {

						data.mypageList[i].num = (data.mypagePage.totalCount - data.mypageList[i].pageRowNumber + 1);
					}

					$("#" + id + " #mypageList").html("");
					$("#tmpl_dlist").tmpl(data.mypageList).appendTo("#" + id + " #mypageList");
					// 페이징 영역 생성
					_comLib.setPagination(
							id + "paging",
							function (page) {
								// 페이지 번호 설정
								$("#" + id + " #pageNumber").val(page);
								// 게시글 조회
								fnSelectList(id);
							},
							data.mypagePage.totalPage,
							_formLib.getValue($("#" + id + " #pageNumber").val()) != "" ? $("#" + id + " #pageNumber").val() : 1
					);
				},
			};
			_comLib.callAjax(param);
		}
	</script>
</th:block>

<div layout:fragment="content">
	<!-- content -->
	<section class="content btmgap content-esg-mypagelist">
		<div class="tit-head">
			<div class="group">
				<h3>마이페이지</h3>
				<p class="txt">「삼일ESG」 플랫폼에서 활동한 내역을 한 눈에 확인하실 수 있습니다.</p>
			</div>
		</div>
		<div class="mypage-wrap default-width">
			<p class="user">
				<data th:if="${session.FoMbrInfo != null}" th:text="${session.FoMbrInfo.mbrNm}"></data>
				님, 안녕하세요.
			</p>
			<div class="mypage-head">
				<div class="profile-wrap">
					<strong class="name" th:if="${session.FoMbrInfo != null}"
							th:text="${session.FoMbrInfo.mbrId}"></strong>
					<ul class="belong">
						<li th:if="${session.FoMbrInfo != null}" th:text="${session.FoMbrInfo.coprNm}"></li>
						<li th:if="${session.FoMbrInfo != null}" th:text="${session.FoMbrInfo.posNm}"></li>
					</ul>
					<p class="email" th:if="${session.FoMbrInfo != null}" th:text="${session.FoMbrInfo.compMail}">
						Sam********@pwc.com</p>
					<a href="./mypageUser" class="btn_link custom"><span>회원정보 수정</span></a>
				</div>
				<!-- //profile-wrap -->
				<section class="diagnoses-wrap">
					<div class="tit-wrap">
						<h4 class="tit">ESG 진단 정보</h4>
						<p CLASS="info">조회일 기준 최신 3건의 진단결과를 저장합니다.</p>
					</div>
					<!-- //tit-wrap -->
					<div class="list-wrap">
						<div class="list">
							<strong class="tit">ESG 경영활동 자가진단</strong>
							<ul th:each="item, stat : ${dList}">
								<li><a href=""
									   th:href="@{/diagnosis/selfDiagnosisResult}+@{?(actTgtResultUid=${item.actTgtResultUid})}"
									   class="link">[[${item.fstInsDt}]] 진단</a></li>
							</ul>
							<ul th:if="${#lists.isEmpty(dList)}">
								<li>데이터가 존재하지 않습니다.</li>
							</ul>

						</div>
						<!-- //list -->
						<div class="list">
							<strong class="tit">CSRD 대상 여부 진단</strong>
							<ul th:each="item, stat : ${cList}">
								<li><a href="#" class="link csrdResult" th:data="${item.csrdTgtResultUid}">[[${item.fstInsDt}]]
									진단</a></li>
							</ul>
							<ul th:if="${#lists.isEmpty(cList)}">
								<li>데이터가 존재하지 않습니다.</li>
							</ul>
						</div>
						<!-- //list -->
					</div>
					<!-- //list-wrap -->
				</section>
				<!-- //diagnoses-wrap -->
			</div>
			<!-- //"mypage-head -->
			<section class="mypage-content">
				<div class="tit-wrap">
					<h4 class="tit">내가 본 컨텐츠</h4>
					<p class="info">최근 6개월 기준 최대 100개 컨텐츠를 저장합니다.</p>
				</div>
				<div class="tab-wrap">
					<ul class="tab-list under">
						<li th:each="item, stat : ${vList}">
							<button type="button" th:class="${stat.count eq 1} ? current : ''"><span>[[${item.contKindNm}]] ([[${item.groupCnt}]])</span>
							</button>
						</li>
					</ul>
					<!-- //tab-list -->
					<div class="tab-cont">
						<div class="cont current">
							<form id="Frm1">
								<input type="hidden" name="contKindCd" id="contKindCd" value="10">
								<input type="hidden" name="pageNumber" id="pageNumber" value="1">
								<div class="table-wrap table-history-saw">
									<table>
										<caption>내가 본 문서</caption>
										<colgroup>
											<col style="width: 8%;">
											<col style="width: 15%;">
											<col style="width: 40%">
											<col style="width: 20%;">
											<col style="width: 15%;">
										</colgroup>
										<thead>
										<tr>
											<th>No</th>
											<th>유형 분류</th>
											<th>제목</th>
											<th>출처</th>
											<th>최근 조회일</th>
										</tr>
										</thead>
										<tbody id="mypageList">
										<tr>
											<td colspan="100">데이터가 존재하지 않습니다.</td>
										</tr>

										</tbody>
									</table>
								</div>
								<!-- paging -->
								<div class="paging">
									<ul class="pagination" id="Frm1paging">
									</ul>
								</div>
								<!-- //paging -->
							</form>
						</div>
						<!-- //cont -->
						<div class="cont">
							<form id="Frm2">
								<input type="hidden" name="contKindCd" id="contKindCd" value="20">
								<input type="hidden" name="pageNumber" id="pageNumber" value="1">
								<div class="table-wrap table-history-news">
									<table>
										<caption>내가 본 뉴스</caption>
										<colgroup>
											<col style="width:15%;">
											<col style="width: 60%;">
											<col style="width:25%">
										</colgroup>
										<thead>
										<tr>
											<th>No</th>
											<th>제목</th>
											<th>최근 조회일</th>
										</tr>
										</thead>
										<tbody id="mypageList">
										<tr>
											<td colspan="100">데이터가 존재하지 않습니다.</td>
										</tr>

										</tbody>
									</table>
								</div>
								<!-- paging -->
								<div class="paging">
									<ul class="pagination" id="Frm2paging">
									</ul>
								</div>
							</form>
							<!-- //paging -->
						</div>
						<!-- //cont -->
						<div class="cont">
							<form id="Frm3">
								<input type="hidden" name="contKindCd" id="contKindCd" value="40">
								<input type="hidden" name="pageNumber" id="pageNumber" value="1">
								<div class="table-wrap table-history-news">
									<table>
										<caption>내가 본 미디어</caption>
										<colgroup>
											<col style="width: 7%;">
											<col style="width: 80%;">
											<col style="width: 15%">
										</colgroup>
										<thead>
										<tr>
											<th>No</th>
											<th>뉴스</th>
											<th>최근 조회일</th>
										</tr>
										</thead>
										<tbody id="mypageList">
										<tr>
											<td colspan="100">데이터가 존재하지 않습니다.</td>
										</tr>

										</tbody>
									</table>
								</div>
								<!-- paging -->
								<div class="paging">
									<ul class="pagination" id="Frm3paging">
									</ul>
								</div>
							</form>
							<!-- //paging -->
						</div>
					</div>
					<!-- //tab-list -->
				</div>
				<!-- //tab-wrap -->
			</section>
		</div>
		<!-- //mypage-wrap -->
	</section>
	<!-- //content -->

	<script id="tmpl_dlist" type="text/x-jquery-tmpl">
		<tr>
			<td>${num}</td>
		{{if contKindCd == "10"}}
			<td>${contTpLclsfNm}</td>
			<td class="subject  content_pop"  href="${linkUrl}"    data-kind="${contKindCd}" data-uid="${contUid}"><a href="javascript:void(0);" class="link ellipsis">${contNm}</a></td>
			<td>${srcNm}</td>
		{{else contKindCd == "20"}}
			<td class="info-wrap">
			<div class="group">
				<a   class="img-area content_pop"  href="${linkUrl}"    data-kind="${contKindCd}" data-uid="${contUid}">
				<img src="{{if imgUrl }}{{if contKindCd != "40" }}https://samilesg.blob.core.windows.net{{/if}}${imgUrl}{{else}}/assets/img/common/noimage.png{{/if}}" style="width:100%; height:100%; object-fit: cover;">
				</a>
				<a   class="info-area content_pop"  href="${linkUrl}"    data-kind="${contKindCd}" data-uid="${contUid}">
				<p class="txt ellipsis">${contNm}</p>
				<ul>
					<li>${srcNm}</li>
					<li>${pblcnYy}{{if pblcnMm != ''}}-${pblcnMm}-${pblcnDd}{{/if}}</li>
				</ul>
				</a>
			</div>
			</td>
		{{else}}
			<td class="info-wrap">
			<div class="group">
				<a   class="img-area content_pop"  href="${linkUrl}"    data-kind="${contKindCd}" data-uid="${contUid}">
				<img src="{{if imgUrl }}{{if contKindCd != "40" }}https://samilesg.blob.core.windows.net{{/if}}${imgUrl}{{else}}/assets/img/common/noimage.png{{/if}}" style="width:100%; height:100%; object-fit: cover;">
				</a>
				<a   class="info-area  content_pop"  href="${linkUrl}"    data-kind="${contKindCd}" data-uid="${contUid}">
				<p class="txt ellipsis">${contNm}</p>
				<ul>
					<li>${wrtrNm}</li>
					<li>${pblcnDt}</li>
				</ul>
				</a>
			</div>
			</td>
		{{/if}}
			<td>${fstInsDt}</td>
		</tr>
	</script>

</div>
<!-- popup fragment -->
<th:block layout:fragment="popup">

	<div class="modal-wrap " id="csrdViewPopupResult"><!-- class="show" 제거시 비노출 default가 hidden 처리 -->
		<div class="dimmed"></div>
		<div class="center">
			<section class="modal-area w1024">
				<div class="modal-head left">
					<h2 class="tit">CSRD 공시 대상 Self Check</h2>
<!--					<p class="datetime">2023.07.12 10:00</p>-->
					<button type="button" class="btn-close bf"><span class="blind">닫기</span></button>
				</div>
				<div class="modal-cont">
					<div class="self-check-wrap csrd-result">
						<p class="result-txt"><strong class="txt-primary">EU 역내 종속기업을 보유한 모기업으로 2029년(FY28) 연결공시</strong> 대상입니다.</p>
					</div>
					<div class="btn-wrap flex" style="margin-top: 150px;">
						<button type="button" class="btn-primary arrow h52 wt"><a href="" class="result01Link"><span>공시 예외사항, 유예사항 확인하기</span></a></button>
						<button type="button" class="btn-primary arrow h52 wt"><a href="" class="result02Link"><span>CSRD 공시 준비사항 확인하기</span></a></button>
					</div>
				</div>
				<!--//modal-cont-->
			</section>
			<!--//modal-area-->
		</div>
		<!-- //xycenter -->
	</div>
	<!--//modal-wrap-->

	<div class="modal-wrap " id="csrdResult01"><!-- class="show" 제거시 비노출 default가 hidden 처리 -->
		<div class="dimmed"></div>
		<div class="center">
			<section class="modal-area w1024">
				<div class="modal-head left">
					<h2 class="tit">CSRD 공시 예외사항 &middot; 유예사항</h2>
					<p class="datetime">2023.07.12 10:00</p>
					<button type="button" class="btn-close bf"><span class="blind">닫기</span></button>
				</div>
				<div class="modal-cont">
					<div class="self-check-wrap">
						<div class="notice-wrap">
							<p class="tit">CSRD는 기업들의 공시 부담을 완화하기 위해 다양한 공시 옵션을 제공합니다. 장기적으로 가장 효과적이고 효율적인 공시 전략을 수립하기
								위해 가능한 모든 공시 옵션의 장단점을 파악하는 것이 중요합니다.</p>
							<ol>
								<li>
									<p class="sub-tit">1. Non-EU 모기업 연결 공시 시 법인 예외 가능성</p>
									<ul class="bul-rd">
										<li>Non-EU 모기업이 CSRD 공시 규정 혹은 ‘동등하다고 간주되는 방식’ 으로 작성한 연결 기준 보고서에 EU 역내 CSRD 공시 대상
											법인이 포함 된 경우, 해당 법인은 공시 대상에서 제외될 수 있습니다. (** 단, 상장 대기업은 별도 공시 대상입니다)
										</li>
										<li>EU에서 2024년 1월까지 Non-EU 모기업 별도 적용 기준을 발표할 예정입니다. 그러나 Non-EU 모기업 별도 적용 기준을
											CSRD 공시 규정과 동등한 기준으로 간주할지 여부는 확정되지 않은 상태입니다. 이에 CSRD 공시 기준에 대한 지속적인 모니터링을 통해
											법인 예외 가능성을 주시할 필요가 있습니다.
										</li>
									</ul>
								</li>
								<li>
									<p class="sub-tit">2. EU 역내 인위적 연결 공시 가능성</p>
									<ul class="bul-rd">
										<li>2030년까지 CSRD 공시 대상이 되는 모든 EU역내 기업에 대해 ‘인위적으로‘ 연결 공시를 허용하는 유예 기간이 적용됩니다.</li>
										<li>EU 역내 CSRD 공시 대상 자회사 및 지사가 2개 이상인 경우, 매출액 기준으로 가장 큰 자회사가 연결 기준으로 공시하면 그룹 수준의
											모기업 연결 공시로 간주됩니다. 해당 연결 공시에 포함된 EU 역내 법인은 공시 대상에서 제외될 수 있습니다. (단, 상장 대기업은 별도
											공시 대상입니다)
										</li>
									</ul>
								</li>
								<li>
									<p class="sub-tit">3. 공시 동등성 인정</p>
									<ul class="bul-rd">
										<li>2024년 1월까지 CSRD 공시의 산업별 기준, SME(중소기업) 기준, Non-EU 모기업 별도 적용 기준이 발표될 예정입니다.
										</li>
										<li>타 공시 기준 간 상호운용성과 동등성의 기준이 확정되지 않았으나, 각 국가별 법적 규제가 CSRD가 요구하는 공시 수준을 충족하지 못할
											가능성이 높습니다. 현재까지 CSRD의 공시 범위가 가장 넓기때문에 동등성이 인정되는 타 기준을 찾기 어려울 것으로 보이지만, IFRS의
											ISSB기준, 미국 SEC 기후공시 의무화 법안 간 상호 운용성이 인정되는 부분을 파악하여 공시 대응 전략을 수립할 필요가 있습니다.
										</li>
									</ul>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<!--//modal-cont-->
			</section>
			<!--//modal-area-->
		</div>
		<!-- //xycenter -->
	</div>
	<div class="modal-wrap " id="csrdResult02"><!-- class="show" 제거시 비노출 default가 hidden 처리 -->
		<div class="dimmed"></div>
		<div class="center">
			<section class="modal-area w1024">
				<div class="modal-head left">
					<h2 class="tit">CSRD 공시 준비사항</h2>
					<p class="datetime">2023.07.12 10:00</p>
					<button type="button" class="btn-close bf"><span class="blind">닫기</span></button>
				</div>
				<div class="modal-cont">
					<div class="self-check-wrap">
						<p class="phase-tit">CSRD 공시 대상인 경우 다음과 같은 단계로 공시를 준비하여야 합니다.</p>
						<ul class="phase-wrap">
							<li>
								<strong>Phase 1</strong>
								<p class="tit">진단 및 전략 수립</p>
								<div>
									<ol>
										<li><p><span>01.</span>CSRD 공시 요건 진단</p></li>
										<li><p><span>02.</span>중대성 평가</p></li>
										<li><p><span>03.</span>Gap 분석 수행</p></li>
										<li><p><span>04.</span>CSRD 공시 로드맵 및 실행계획 수립</p></li>
									</ol>
								</div>
							</li>
							<li>
								<strong>Phase 2</strong>
								<p class="tit">지속가능 경영 활동 내재화</p>
								<div>
									<ol>
										<li><p><span>05.</span>거버넌스 및 내부 통계 체계 수립</p></li>
										<li><p><span>06.</span>위험 요소 및 기회 요소 내재화</p></li>
										<li><p><span>07.</span>데이터 수집 시스템 및 인프라 구축</p></li>
									</ol>
								</div>
							</li>
							<li>
								<strong>Phase 3</strong>
								<p class="tit">이행 및 개선</p>
								<div>
									<ol>
										<li><p><span>08.</span>IT 인프라 운영 및 데이터 수집</p></li>
										<li><p><span>09.</span>EU Taxonomy 진단</p></li>
										<li><p><span>10.</span>제3자 인증 준비</p></li>
										<li><p><span>11.</span>피드백 수렴 및 개선 필요 사항 식별</p></li>
									</ol>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--//modal-cont-->
			</section>
			<!--//modal-area-->
		</div>
		<!-- //xycenter -->
	</div>

</th:block>
</html>
