<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Samil ESG - (통합검색)</title>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/img/common/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-a pp-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/pwc.css" />
    <link rel="stylesheet" href="/assets/css/include.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/sub.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.datepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/hook.css" />
    <link rel="stylesheet" href="/assets/css/response.css" />
    
    
    <script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.datepicker.min.js"></script>
    
    <!-- konan js  -->
	<script type="text/javascript" src="/assets/js/search/search.js"></script><!-- KS Events -->
	<script type="text/javascript" src="/assets/js/search/search.ksf.js"></script><!-- KSF Events -->
</head>

<body>
	
	<!-- 검색엔진 form -->
	<form id="historyForm" action="main" method="get">	
		<input type="hidden" id="category" name="category" th:value="${params.category}" />
		<input type="hidden" id="kwd" name="kwd" th:value="${params.kwd}" />
		<input type="hidden" id="preKwd" name="preKwd" th:value="${params.preKwd}" />
		<input type="hidden" id="date" name="date" th:value="${params.date}" />
		<input type="hidden" id="startDate" name="startDate" th:value="${params.startDate}" />
		<input type="hidden" id="endDate" name="endDate" th:value="${params.endDate}" />
		<input type="hidden" id="originalQuery" name="originalQuery" th:value="${params.originalQuery}" />
		<input type="hidden" id="previousQuery" name="previousQuery" th:value="${params.previousQuery}"/>
		<input type="hidden" id="categorize" name="categorize" value="true"/>
		<input type="hidden" id="page" name="page" value="0"/>
		<input type="hidden" id="pageSize" name="pageSize" value="${params.pageSize}" />	
		<input type="hidden" id="pageNum" name="pageNum" th:value="${params.pageNum}" />
		<input type="hidden" id="offSet" name="offSet" th:value="${params.offSet}" />
		<input type="hidden" id="sort" name="sort" th:value="${params.sort}" />
		<input type="hidden" id="fields" name="fields" th:value="${param.fields}" />
		<input type="hidden" id="nowDate" name="nowDate" th:value="${params.nowDate}" />	
		
		<!-- 필터 -->
		<input type="hidden" id="dmstc_yn" name="dmstc_yn" th:value="${params.dmstc_yn}" />	
		<input type="hidden" id="sply_lang_cd" name="sply_lang_cd" th:value="${params.sply_lang_cd}" />	
		<input type="hidden" id="pblcn_yy" name="pblcn_yy" th:value="${params.pblcn_yy}" />	
		<input type="hidden" id="vod_qunty_mi" name="vod_qunty_mi" th:value="${params.vod_qunty_mi}" />	
		
		<input type="hidden" id="env" name="env" th:value="${params.env}" />
		<input type="hidden" id="esgKwdList" name="esgKwdList" th:value="${params.esgKwdList}" />
	</form>

	

    
    <div class="wrap">
        <!-- header -->
        <header class="header" th:include="frontoffice/fragments/header"></header>  
        
        <div id="container" class="sub-wrap">
            <section class="content btmgap">
                <h3 class="blind">통합검색</h3>
                <div class="total-wrap default-width">
					<!-- top search -->
                    <div class="total-search-inner" th:include="frontoffice/search/common/topSearch"></div>
                    
                    <!-- recommand (추천검색어) -->
                    <div class="organic-keyword" th:if="${not #strings.equals(recommandResult,'')}" th:include="frontoffice/search/module/recommand"></div>
                    
                    <div class="tab-wrap default-width gap-top">

                        <ul class="tab-list under">
                            <li><button type="button" id="TOTAL" onclick="goCategory('TOTAL')" class=""><span th:text="${'전체 (' + total + ')'}"></span></button></li>
                            <li><button type="button" id="WEBCONTENTS" onclick="goCategory('WEBCONTENTS')" class=""><span th:text="${'웹 컨텐츠  (' + webTotal + ')'}"></span></button></li>
                            <li><button type="button" id="DOC" onclick="goCategory('DOC')" class=""><span th:text="${'문서 (' + docTotal + ')'}"></span></button></li>
                            <li><button type="button" id="NEWS" onclick="goCategory('NEWS')" class=""><span th:text="${'뉴스 (' + newsTotal + ')'}"></span></button></li>
                            <li><button type="button" id="MEDIA" onclick="goCategory('MEDIA')" class=""><span th:text="${'미디어 (' + mediaTotal + ')'}"></span></button></li>
                        </ul>
 						
 						
 						<div class="tab-cont" th:if="${total == 0}">
                            <div class="cont current">
                                <section class="section-group">
                                    <div class="nodata center">
                                        <b>검색결과가 없습니다.</b>
                                        <h5 class="mar_t30">검색어를 다시 확인해주세요.</h5>
                                    </div>
                                </section>                          
                           </div>                           
                        </div>
 
                        <div class="tab-cont" th:switch="${params.category}" th:if="${total > 0}">					
							<!--All--> 
                        	<div class="cont current" th:case="'TOTAL'" th:include="frontoffice/search/result/resultTotal"></div>
                        	
                        	<!--web content -->
                        	<div class="cont current" th:case="'WEBCONTENTS'" th:include="frontoffice/search/result/resultWebcontents"></div>
                        	
                        	<!--doc (+filter) -->
                            <div class="cont current" th:case="'DOC'">
                                <div class="result-list-wrap">
                                    <section class="filter-wrap" th:include="frontoffice/search/common/filterDoc"></section>
                                    <div class="result-list" th:include="frontoffice/search/result/resultDoc"></div>
                                </div>
                            </div>
                            
                            <!--news -->
                       		<div class="cont current" th:case="'NEWS'" th:include="frontoffice/search/result/resultNews"></div>
                            
                            
                            <!--media (+filter) -->
	                        <div class="cont current" th:case="'MEDIA'">
	                            <div class="result-list-wrap">
	                                <section class="filter-wrap" th:include="frontoffice/search/common/filterMedia"></section>
	                                <div class="result-list" th:include="frontoffice/search/result/resultMedia"></div>
	                            </div> 
	                        </div>  							
                       </div>
                        <!-- //tab-cont -->
                    </div>
                    <!-- //tab-wrap -->
                </div>
            </section>
            <!-- //content -->  
            
            <div class="floating-wrap">
                <button type="button"><span>온라인 문의</span></button>
            </div>         
        </div>
        <footer id="footer" th:include="frontoffice/fragments/footer"></footer>
    </div>

    <script>
        $(function () {
            tab();
        })
    </script>  
    
</body>
</html>