<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{frontoffice/layout/subwrapLayout}">

<th:block layout:fragment="script">
	<script type="text/javascript">
		var TpicUid ;
		$(function(){
			// 이벤트 설정

			/*<![CDATA[*/
			TpicUid = [[${tpicUid}]];
			/*]]>*/

			$.post("/diagnosis/selectContList", {tpicUid : TpicUid}, function(data){

				$("#tmpl_relation").tmpl(data.list).appendTo("#relation-list");
				// 빈 카테고리 라인 제거
				$('#relation-list .po').each((idx, item) => {
					if (!$.trim($(item)[0].innerHTML)) {
						$(item)[0].remove();
					}
				});
				$(".relation-list").slick({
		 	    autoplay: true,
			    speed: 500,
			    arrows: true,
			    dots: false,
			    infinite: true,
			    cssEase: "linear",
			    speed: 300,
			    slidesToShow: 3,
			    slidesToScroll: 1,
			    responsive: [
			      {
			        breakpoint: 1180,
			        settings: {
			          slidesToShow: 2,
			          dots: false,
			          arrows: false,
			        },
			      },
			      {
			        breakpoint: 767,
			        settings: {
			          slidesToShow: 1,
			          dots: false,
			          arrows: true,
			        },
			      },
			    ],
			  });

			});
		});

		function fnGoStrategy(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/strategyView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnGoEnvironment(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/environmentView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnCertifiedView(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/certifiedView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		$(document).ready(function(){
			$('.menu01').addClass("on");
			$('.submenu03_06').addClass("on");
		});
	</script>
</th:block>

<div layout:fragment="content">
	<form id="frm">
	    <section class="sub">
			<div class="sub-title-a">
				<div class="ct">
					<div class="tit">ESG 경영활동 가이드</div>
					<div class="subs">ESG 경영에 필요한 활동과 필요 역량을 단계별로 정의하고, ESG 경영활동에 도움이 될 수 있는 참고 자료를 추천합니다.</div>
				</div>
				<div class="bgBack"></div>
				<div class="bg"><img src="/assets/img/common/bg_tit.png"></div>
			</div>

			<div class="mo_dropmenu">
				<div class="nav">시스템 운영<span><img src="/assets/img/common/ico_selectdesign.png"></span></div>
				<ul class="dropmenu-list">
					<li><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요</a></li>
					<li><strong>ESG 전략 · 계획</strong></li>
					<li><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립</a></li>
					<li><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립</a></li>
					<li><strong>ESG 과제 이행</strong></li>
					<li><a href="/diagnosis/environmentView?tabId=1">환경 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=2">사회 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=4">지속가능 금융</a></li>
					<li><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가</a></li>
					<li><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영</a></li>
					<li><strong>ESG 공시 · 인증</strong></li>
					<li><a href="/diagnosis/certifiedView?tabId=1">ESG 공시</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=2">ESG 평가</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=3">ESG 인증</a></li>
				</ul>
			</div>

			<div class="esg-guide default-width">
				<dl class="leftMenu">
					<dd>
						<div class="depth-1"></div>
						<ul class="depth-2-menulist">
							<li class="submenu01"><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 전략 · 계획</div>
						<ul class="depth-2-menulist">
							<li class="submenu02_01"><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu02_02"><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 과제 이행</div>
						<ul class="depth-2-menulist">
							<li class="submenu03_01"><a href="/diagnosis/environmentView?tabId=1">환경 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_02"><a href="/diagnosis/environmentView?tabId=2">사회 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_03"><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_04"><a href="/diagnosis/environmentView?tabId=4">지속가능 금융<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_05"><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_06"><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 공시 ・ 인증</div>
						<ul class="depth-2-menulist">
							<li class="submenu04_01"><a href="/diagnosis/certifiedView?tabId=1">ESG 공시<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_02"><a href="/diagnosis/certifiedView?tabId=2">ESG 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_03"><a href="/diagnosis/certifiedView?tabId=3">ESG 인증<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>
				</dl>

				<div class="content">
					<div class="border-txbox-a">
						<div class="sub-common-tit">개요</div>
						<div class="border-box">
							ESG 경영 활동의 관리, 성과 평가, 공시 업무에는 다양한 유형과 출처의 데이터가 필요합니다. 이를 투명하게 측정하고 오류 없이 취합하여 누락없이 관리하기 위해서는 수기 관리가 아닌 시스템을 통한 관리가 권고됩니다.<br/><br/>

							ESG 경영활동 내에서 시스템화가 필요한 영역은 다음과 같습니다. 첫째, 온실가스 배출량, 폐기물 배출량 등 ESG 목표 과제별 KPI와 관리지표를 측정하고 모니터링하기 위한 시스템이 필요합니다. 둘째, 공시를 위한 공시 지표값 산출 시스템이 필요합니다.
							셋째, 다양한 ESG 관련 지표와 데이터를 통합 관리하기 위한 데이터 관리 시스템이 필요하며, 마지막으로 이렇게 통합된 ESG 경영활동 데이터를 기반으로 전사 ESG 활동을 평가하고, 조직을 관리하며, 향후 전사 계획에 재반영하기 위한 ESG 경영관리 시스템도 필요합니다.
						</div>
					</div>

					<div class="guide-work">
						<div class="sub-common-tit">주요 실행 과제</div>
						<dl class="work-list">
							<dd>
								<div class="subj-box"><span>KPI∙관리지표 측정/<br />모니터링 시스템 구축</span></div>
								<ul class="work-detail-list">
									<li>ESG 영역별로 정의한 KPI 및 관리지표 데이터 입수 방법 정의</li>
									<li>
										현황 대시보드 설계
										<span>목표 달성 여부, 목표 달성율 등 모니터링 지표 설계</span>
									</li>
									<li>개선 활동 관리 기능 연계</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>전사 ESG 데이터 통합 관리 시스템 구축</span></div>
								<ul class="work-detail-list">
									<li>
										데이터 마트 구축
										<span>ESG 성과 관리 및 공시에 필요한 데이터의 정의 및 수집</span>
										<span>데이터베이스 설계 및 모델링</span>
										<span>기존 시스템(원장, 재무제표 등) 또는 외부 기관과의 I/F 정의</span>
									</li>

									<li>시스템 개발 및 관리 방안 수립</li>

								</ul>
							</dd>


							<dd>
								<div class="subj-box"><span>주요 공시∙보고 시스템 구축</span></div>
								<ul class="work-detail-list">
									<li>ESG 공시 기준에 따른 지표값을 전산으로 취합하여 보고 양식에 맞게 출력하는 시스템 구축</li>

									<li>
										공시 기준별 필요한 지표를 정의하고 데이터 R&R 및 데이터 수집 방법, 기존 시스템과의 I/F 등을 정의
										<span>기후 시나리오별 재무적 영향도와 같이 로직에 따른 산출이 필요한 지표값에 대한 모델 설계 필요</span>
									</li>

								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>ESG 정보 기반 경영관리 시스템 고도화</span></div>
								<ul class="work-detail-list">
									<li>ESG 과제별 목표∙계획 및 시행 관리, ESG 활동 데이터 측정 및 수집, 실적 조회, 모니터링, 내부 위험 관리, 개선 필요사항 및 이행 관리, 보고서 산출 등의 업무를 시스템화</li>

									<li>
										ISO 인증을 통해 ESG 경영 성과에 대한 지속적인 개선 및 객관성 확보 가능
										<span>ISO 37001 반부패경영시스템, ISO 14001 환경경영시스템, ISO 50001 에너지경영시스템 등</span>
									</li>

								</ul>
							</dd>
						</dl>
					</div>


					<div class="needs-work">
						<div class="sub-common-tit">필요 업무역량</div>
						<ul class="needs-list">
							<li>전사 ESG 업무에 대한 이해</li>
							<li>ESG 공시 지표 및 그 외 ESG 데이터에 대한 이해</li>
							<li>데이터 수집 정리 및 분석 능력</li>
							<li>IT 서비스 운영 및 기획 능력</li>
							<li>DB 설계 구현 운영 능력</li>
							<li>HW, SW, 네트워크 관리 능력</li>
						</ul>
					</div>

					<div class="guide-relation">
						<div class="sub-common-tit">관련 컨텐츠</div>

						<ul class="relation-list" id="relation-list">

						</ul>
					</div>

				</div>
			</div>


			<div class="guide-service">
				<div class="container">
					<div class="sub-common-tit">서비스 안내</div>

					<dl class="service-list">
						<dd>
							<div class="subj">디지털 플랫폼 구축 지원 </div>
							<ul class="detail-list">
								<li>ESG 비재무적 요소 가치 정량화, 성과 측정, 피드백, 자산화할 수 있는 플랫폼 구축</li>
							</ul>    
						</dd>
						<dd>
							<div class="subj">금융사 기후리스크 측정∙모니터링 시스템 설계 </div>
							<ul class="detail-list">
								<li>기후리스크 측정 및 재무영향도 산출을 위한 모델링</li>
								<li>필요 데이터 설계 및 적재, 시스템 요건 정의 및 구축 지원</li>
							</ul>
						</dd>
					</dl>

					<div class="back-btn onlineBtn">
						삼일 서비스 문의하기 <span><img src="/assets/img/common/ico_arrow_right.png"></span>
					</div>
				</div>
			</div>

		</section>
	</form>

</div>
</html>