<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{frontoffice/layout/subwrapLayout}">

<th:block layout:fragment="script">
	<script type="text/javascript">
		var TpicUid ;
		$(function(){
			// 이벤트 설정

			/*<![CDATA[*/
			TpicUid = [[${tpicUid}]];
			/*]]>*/

			$.post("/diagnosis/selectContList", {tpicUid : TpicUid}, function(data){

				$("#tmpl_relation").tmpl(data.list).appendTo("#relation-list");
				// 빈 카테고리 라인 제거
				$('#relation-list .po').each((idx, item) => {
					if (!$.trim($(item)[0].innerHTML)) {
						$(item)[0].remove();
					}
				});
				$(".relation-list").slick({
			    autoplay: true,
			    speed: 500,
			    arrows: true,
			    dots: false,
			     infinite: true,
			    cssEase: "linear",
			    speed: 300,
			    slidesToShow: 3,
			    slidesToScroll: 1,
			    responsive: [
			      {
			        breakpoint: 1180,
			        settings: {
			          slidesToShow: 2,
			          dots: false,
			          arrows: false,
			        },
			      },
			      {
			        breakpoint: 767,
			        settings: {
			          slidesToShow: 1,
			          dots: false,
			          arrows: true,
			        },
			      },
			    ],
			  });

			});
		});

		function fnGoStrategy(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/strategyView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnGoEnvironment(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/environmentView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnCertifiedView(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/certifiedView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		$(document).ready(function(){
			$('.menu01').addClass("on");
			$('.submenu03_05').addClass("on");
		});
	</script>
</th:block>

<div layout:fragment="content">
	<form id="frm">
	    <section class="sub">
			<div class="sub-title-a">
				<div class="ct">
					<div class="tit">ESG 경영활동 가이드</div>
					<div class="subs">ESG 경영에 필요한 활동과 필요 역량을 단계별로 정의하고, ESG 경영활동에 도움이 될 수 있는 참고 자료를 추천합니다.</div>
				</div>
				<div class="bgBack"></div>
				<div class="bg"><img src="/assets/img/common/bg_tit.png"></div>
			</div>

			<div class="mo_dropmenu">
				<div class="nav">ESG 영향평가<span><img src="/assets/img/common/ico_selectdesign.png"></span></div>
				<ul class="dropmenu-list">
					<li><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요</a></li>
					<li><strong>ESG 전략 · 계획</strong></li>
					<li><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립</a></li>
					<li><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립</a></li>
					<li><strong>ESG 과제 이행</strong></li>
					<li><a href="/diagnosis/environmentView?tabId=1">환경 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=2">사회 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=4">지속가능 금융</a></li>
					<li><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가</a></li>
					<li><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영</a></li>
					<li><strong>ESG 공시 · 인증</strong></li>
					<li><a href="/diagnosis/certifiedView?tabId=1">ESG 공시</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=2">ESG 평가</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=3">ESG 인증</a></li>
				</ul>
			</div>

			<div class="esg-guide default-width">
				<dl class="leftMenu">
					<dd>
						<div class="depth-1"></div>
						<ul class="depth-2-menulist">
							<li class="submenu01"><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 전략 · 계획</div>
						<ul class="depth-2-menulist">
							<li class="submenu02_01"><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu02_02"><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 과제 이행</div>
						<ul class="depth-2-menulist">
							<li class="submenu03_01"><a href="/diagnosis/environmentView?tabId=1">환경 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_02"><a href="/diagnosis/environmentView?tabId=2">사회 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_03"><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_04"><a href="/diagnosis/environmentView?tabId=4">지속가능 금융<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_05"><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_06"><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 공시 ・ 인증</div>
						<ul class="depth-2-menulist">
							<li class="submenu04_01"><a href="/diagnosis/certifiedView?tabId=1">ESG 공시<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_02"><a href="/diagnosis/certifiedView?tabId=2">ESG 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_03"><a href="/diagnosis/certifiedView?tabId=3">ESG 인증<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>
				</dl>

				<div class="content">
					<div class="border-txbox-a">
						<div class="sub-common-tit">개요</div>
						<div class="border-box">
							기업은 기후변화로 인해 비용 또는 매출의 변화, 유무형 자산 및 금융자산의 가치 변화 등의 재무적 영향을 받게 됩니다. 따라서, 이해관계자는 기후변화로 인한 재무적 영향도와 그에 대한 기업의 대응 활동 정보를 요구하고 있습니다.<br/><br/>

							'환경∙사회적 요인'이 기업에 미치는 영향 뿐 아니라 기업의 '경영활동'이 환경∙사회에 미치는 영향도 함께 평가해야 합니다. 기업과 외부 환경∙사회 간의 관계를 ‘Inside out’, ‘Outside in’의 양방향으로 검토하여 미래에 기업에 미칠 재무적 영향까지 고려할 수 있으며,
							기업의 지속가능성 수준과 성과를 더 잘 이해할 수 있습니다. GRI(Global Reporting Initiative) Standards 2021, CSRD 등 최근 발표된 글로벌 기준도 이와 같은 이중 중대성 평가를 시행하여 공시할 것을 규정하고 있습니다.
						</div>
					</div>

					<div class="guide-work">
						<div class="sub-common-tit">주요 실행 과제</div>
						<dl class="work-list">
							<dd>
								<div class="subj-box"><span>기후리스크에 따른 재무적 영향 평가</span></div>
								<ul class="work-detail-list">
									<li>평가에 활용할 기후 시나리오(SSP, RCP 등) 또는 가정(탄소∙에너지 가격, 정책∙규제 변경 사항 등) 선정</li>
									<li>이행∙물리적 리스크 동인 및 손익∙자산에 미치는 영향 유형의 식별</li>
									<li>모델링을 통한 기후 시나리오별 이행∙물리적 리스크 측정</li>
									<li>측정된 리스크가 재무 지표에 미치는 영향 측정</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>환경∙사회 영향 평가</span></div>
								<ul class="work-detail-list">
									<li>
										이슈풀 구성
										<span>기업과의 관련성이 높아 영향도 평가가 필요한 주요 이슈의 선정</span>
										<span>글로벌 가이드라인 분석, 벤치마킹(국내외 동종업계 선도사, 경쟁사), 업종별 이슈사항(업종별 트렌드, 언론 보도 이벤트, 관련 규제 변화 등), 전사 전략 비전 및 계획 검토 등 다양한 요소 반영 가능</span>
									</li>

									<li>
										영향도 분석
										<span>글로벌 가이드라인 분석 결과, 벤치마킹 결과, 업종별 이슈 사항 검토 결과, 임직원 및 이해관계자의 평가 등을 바탕으로 영향도를 등급화 또는 점수화</span>
										<span>영향도 평가 시, 긍정/부정 여부, 이슈의 발생 가능성, 영향의 규모(심각성) 등을 다양하게 검토</span>
									</li>

									<li>
										이슈별 우선 순위 및 주요 이슈 선정
										<span>추후 ESG 경영 전략 수립 시 반영 및 주요 이슈에 대한 관리 방안 검토 필요</span>
									</li>
								</ul>
							</dd>

						</dl>
					</div>


					<div class="needs-work">
						<div class="sub-common-tit">필요 업무역량</div>
						<ul class="needs-list">
							<li>기후 시나리오에 대한 지식</li>
							<li>기업의 전체적인 경영활동 및 외부 환경에 대한 이해</li>
							<li>내/외부 데이터에 대한 이해 및 분석 역량<br/>(내부: 기업 재무제표, 활동데이터 / 외부: 지역별∙업종별 기후 변화 및 기후 변화 영향 데이터)</li>
							<li>필요한 정보 및 데이터의 리서치/수집 역량</li>
							<li>영향도 분석을 위한 데이터 및 모델 설계 역량</li>
							<li>이해관계자 및 현업 부서와의 커뮤니케이션 역량</li>
						</ul>
					</div>

					<div class="guide-relation">
						<div class="sub-common-tit">관련 컨텐츠</div>

						<ul class="relation-list" id="relation-list">

						</ul>
					</div>

				</div>
			</div>


			<div class="guide-service">
				<div class="container">
					<div class="sub-common-tit">서비스 안내</div>

					<dl class="service-list">
						<dd>
							<div class="subj">지속가능경영보고서 작성 시 이중 중대성 평가 시행</div>
							<ul class="detail-list">
								<li>벤치마킹, 이해관계자 설문 등</li>
							</ul>
						</dd>
						<dd>
							<div class="subj">사회적 가치 측정</div>
							<ul class="detail-list">
								<li>기업과 제품이 사회에 미치는 기여도 산출(PwC TIMM 모델 활용)</li>
								<li>ESG Framework 기반 모니터링 및 비즈니스 의사결정 지원</li>
							</ul>
						</dd>
						<dd>
							<div class="subj">기후리스크로 인한 재무적 영향도 분석 </div>
							<ul class="detail-list">
								<li>탄소 가격, 전기 가격 변화에 따른 재정적 영향 분석(PwC Climate Excellence Tool 활용)</li>
							<ul>
						</dd>
					</dl>

					<div class="back-btn onlineBtn">
						삼일 서비스 문의하기 <span><img src="/assets/img/common/ico_arrow_right.png"></span>
					</div>
				</div>
			</div>

		</section>
	</form>
</div>
</html>