<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{frontoffice/layout/subwrapLayout}">

<th:block layout:fragment="script">
	<script type="text/javascript">
		var TpicUid ;
		$(function(){
			// 이벤트 설정

			/*<![CDATA[*/
			TpicUid = [[${tpicUid}]];
			/*]]>*/


			$.post("/diagnosis/selectContList", {tpicUid : TpicUid}, function(data){

				$("#tmpl_relation").tmpl(data.list).appendTo("#relation-list");
				// 빈 카테고리 라인 제거
				$('#relation-list .po').each((idx, item) => {
					if (!$.trim($(item)[0].innerHTML)) {
						$(item)[0].remove();
					}
				});
				$(".relation-list").slick({
			    autoplay: true,
			    speed: 500,
			    arrows: true,
			    dots: false,
			    infinite: true,
			    cssEase: "linear",
			    speed: 300,
			    slidesToShow: 3,
			    slidesToScroll: 1,
			    responsive: [
			      {
			        breakpoint: 1180,
			        settings: {
			          slidesToShow: 2,
			          dots: false,
			          arrows: false,
			        },
			      },
			      {
			        breakpoint: 767,
			        settings: {
			          slidesToShow: 1,
			          dots: false,
			          arrows: true,
			        },
			      },
			    ],
			  });

			});
		});

		function fnGoStrategy(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/strategyView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnGoEnvironment(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/environmentView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		function fnCertifiedView(tabId){
			var frm = $('<form></form>');
			frm.attr('method', 'get');
			frm.attr("action", "/diagnosis/certifiedView");
			frm.append($('<input/>', {type: 'hidden', name: 'tabId', value: tabId}));//선택 할 탭
			frm.appendTo('body');
			frm.submit();
		}

		$(document).ready(function(){
			$('.menu01').addClass("on");
			$('.submenu02_02').addClass("on");
		});
	</script>
</th:block>

<div layout:fragment="content">
	<form id="frm">
		<section class="sub">
			<div class="sub-title-a">
				<div class="ct">
					<div class="tit">ESG 경영활동 가이드</div>
					<div class="subs">ESG 경영에 필요한 활동과 필요 역량을 단계별로 정의하고, ESG 경영활동에 도움이 될 수 있는 참고 자료를 추천합니다.</div>
				</div>
				<div class="bgBack"></div>
				<div class="bg"><img src="/assets/img/common/bg_tit.png"></div>
			</div>

			<div class="mo_dropmenu">
				<div class="nav">ESG 경영체계 수립<span><img src="/assets/img/common/ico_selectdesign.png"></span></div>
				<ul class="dropmenu-list">
					<li><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요</a></li>
					<li><strong>ESG 전략 · 계획</strong></li>
					<li><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립</a></li>
					<li><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립</a></li>
					<li><strong>ESG 과제 이행</strong></li>
					<li><a href="/diagnosis/environmentView?tabId=1">환경 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=2">사회 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제</a></li>
					<li><a href="/diagnosis/environmentView?tabId=4">지속가능 금융</a></li>
					<li><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가</a></li>
					<li><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영</a></li>
					<li><strong>ESG 공시 · 인증</strong></li>
					<li><a href="/diagnosis/certifiedView?tabId=1">ESG 공시</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=2">ESG 평가</a></li>
					<li><a href="/diagnosis/certifiedView?tabId=3">ESG 인증</a></li>
				</ul>
			</div>

			<div class="esg-guide default-width">
				<dl class="leftMenu">
					<dd>
						<div class="depth-1"></div>
						<ul class="depth-2-menulist">
							<li class="submenu01"><a href="/diagnosis/businessInfo">ESG 경영활동 가이드 개요<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 전략 · 계획</div>
						<ul class="depth-2-menulist">
							<li class="submenu02_01"><a href="/diagnosis/strategyView?tabId=1">ESG 경영전략 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu02_02"><a href="/diagnosis/strategyView?tabId=2">ESG 경영체계 수립<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 과제 이행</div>
						<ul class="depth-2-menulist">
							<li class="submenu03_01"><a href="/diagnosis/environmentView?tabId=1">환경 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_02"><a href="/diagnosis/environmentView?tabId=2">사회 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_03"><a href="/diagnosis/environmentView?tabId=3">거버넌스 과제<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_04"><a href="/diagnosis/environmentView?tabId=4">지속가능 금융<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_05"><a href="/diagnosis/environmentView?tabId=5">ESG 영향 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu03_06"><a href="/diagnosis/environmentView?tabId=6">ESG 시스템 운영<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>

					<dd>
						<div class="depth-1">ESG 공시 ・ 인증</div>
						<ul class="depth-2-menulist">
							<li class="submenu04_01"><a href="/diagnosis/certifiedView?tabId=1">ESG 공시<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_02"><a href="/diagnosis/certifiedView?tabId=2">ESG 평가<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
							<li class="submenu04_03"><a href="/diagnosis/certifiedView?tabId=3">ESG 인증<span><img src="/assets/img/common/ico_arrow4_9.png"></span></a></li>
						</ul>
					</dd>
				</dl>

				<div class="content">
					<div class="border-txbox-a">
						<div class="sub-common-tit">개요</div>
						<div class="border-box">
							효과적인 ESG 관리를 위해 전사 차원에서 중점 관리 영역을 정의하고, 해당 영역별 이슈를 관리하여 적시에 경영진 보고가 가능한 운영 체계를 수립하는 단계입니다.
						</div>
					</div>

					<div class="guide-work">
						<div class="sub-common-tit">주요 실행 과제</div>
						<dl class="work-list">
							<dd>
								<div class="subj-box"><span>ESG 의사결정체계 구축</span></div>
								<ul class="work-detail-list">
									<li>ESG와 관련한 기업의 주요 경영 이슈와 의사결정사항을 주기적으로 검토∙논의할 수 있도록 절차를 수립하고, 의사결정을 위한 이사회 및 이사회 산하 위원회, 경영진, 전담조직, 실무협의체의 구성과 역할 및 책임 정의</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>ESG 경영 프로세스 수립</span></div>
								<ul class="work-detail-list">
									<li>사업 계획에 따른 ESG 경영활동 수행, 모니터링, 업무 개선과 성과평가, 보고 등의 일련의 프로세스를 정의하고 이를 내재화하기 위한 R&R과 기준∙지침의 수립</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>ESG 영역별 <br />KPI 정의</span></div>
								<ul class="work-detail-list">
									<li>기업의 ESG 주요 이슈를 고려하여, ESG 경영활동 목표 달성을 위한 ESG 성과관리지표(KPI) 수립</li>
									<li>KPI를 통해 세부 조직과 개별 구성원 단위까지 ESG 활동에 대한 명확한 목표를 제시하고, ESG 성과를 효율적으로 모니터링∙관리 가능</li>
									<li>ESG 경영목표 달성 상의 문제점을 파악하여 개선 활동으로 연계</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>ESG 영역별 <br />규정 ∙ 지침 작성</span></div>
								<ul class="work-detail-list">
									<li>ESG 영역별 세부 활동 과제를 운영하고 관리하기 위한 내부 관리 정책과 기준∙지침 수립</li>
								</ul>
							</dd>

							<dd>
								<div class="subj-box"><span>ESG 리스크 관리체계 수립</span></div>
								<ul class="work-detail-list">
									<li>ESG 경영활동에 영향을 주는 위험과 기회를 식별하여 ESG 리스크를 정의하고, 식별된 ESG 리스크를 측정∙평가, 모니터링, 보고, 통제 및 경감하기 위한 업무 프로세스와 규정∙지침 수립</li>
									<li>ESG 리스크별 위험 수준 도달 시의 유형∙단계별 대응 계획, 주체, 시나리오 정의</li>
								</ul>
							</dd>
						</dl>
					</div>


					<div class="needs-work">
						<div class="sub-common-tit">필요 업무역량</div>
						<ul class="needs-list">
							<li>ESG 경영활동 전반에 대한 이해, 지식</li>
							<li>전사 의사결정체계, 경영관리체계 수립 역량</li>
							<li>업무 정책 및 지침 정의 역량</li>
						</ul>
					</div>

					<div class="guide-relation">
						<div class="sub-common-tit">관련 컨텐츠</div>

						<ul class="relation-list" id="relation-list">

						</ul>
					</div>

				</div>
			</div>


			<div class="guide-service">
				<div class="container">
					<div class="sub-common-tit">서비스 안내</div>

					<dl class="service-list">
						<dd>
							<div class="subj">ESG 관리체계 수립 컨설팅 </div>
							<ul class="detail-list">
								<li>Rule & Policy 설정 및 재정비</li>
								<li>영역별 상세 KPI 정의</li>
							</ul>    
						</dd>
						<dd>
							<div class="subj">전사 ESG 리스크 관리체계 구축</div>
							<ul class="detail-list">
								<li>ESG 리스크 정의 및 관리 정책, 프로세스, R&R 정의</li>
							</ul>    
						</dd>

					</dl>

					<div class="back-btn onlineBtn">
						삼일 서비스 문의하기 <span><img src="/assets/img/common/ico_arrow_right.png"></span>
					</div>
				</div>
			</div>

		</section>
	</form>
</div>
</html>