<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pwc.pwcesg.frontoffice.qna.mapper.QnaMapper">

	<!-- 문의·요청 목록 조회 -->
	<select id="selectQnaList" parameterType="camelcasemap" resultType="camelcasemap">
		SELECT
			CAI.ASK_UID			/* 문의채번 */
			, CAI.ASK_TP_CD		/* 문의유형코드 */
			, ESG_DB.fnCommCdNm('ASK_TP_CD', CAI.ASK_TP_CD) ASK_TP_NM 		/* 문의유형명 */
			, CAI.ASK_TTL		/* 문의제목 */
			, CAI.ASK_ST_CD		/* 문의상태코드(10: 미확인, 20: 처리중(IT), 30: 처리중(Biz), 40: 부서전달, 50: 완료) */
			, ESG_DB.fnCommCdNm('ASK_ST_CD', CAI.ASK_ST_CD) ASK_ST_NM 		/* 문의상태명 */
			, CAI.ASK_CN		/* 문의내용 */
			, CAI.MBR_ID		/* 회원아이디 */
			, CAI.ASK_MAIL		/* 문의이메일 */
			, CAI.COMP_NM		/* 회사명 */
			, CAI.COPR_UID		/* 소속채번 */
			, FORMAT(DATEADD(HOUR, 9, CAI.FST_INS_DT),'yyyy-MM-dd') FST_INS_DT		/* 최초등록일 */
			, FORMAT(DATEADD(HOUR, 9, CARI.FST_INS_DT),'yyyy-MM-dd') ANSR_FST_INS_DT
			, IIF(CAI.ASK_ST_CD = '50', '답변보기', '') ANSR_LNK		/* 답변 */
		FROM ESG_DB.CS_ASK_INFO CAI	/* 문의정보 */ LEFT JOIN ESG_DB.CS_ANSR_INFO CARI ON CARI.ASK_UID = CAI.ASK_UID
		WHERE MBR_ID = #{mbrId}	/* 회원아이디 */
		<!-- 검색조건 : 등록일자 기간 -->
		<if test="schStrtDate != null and !schStrtDate.equals('')">
			AND FORMAT(DATEADD(HOUR, 9, CAI.FST_INS_DT),'yyyyMMdd') <![CDATA[>=]]> #{schStrtDate}
		</if>
		<if test="schEndDate != null and !schEndDate.equals('')">
			AND FORMAT(DATEADD(HOUR, 9, CAI.FST_INS_DT),'yyyyMMdd') <![CDATA[<=]]> #{schEndDate}
		</if>

		<!-- 검색조건 : 처리상태 -->
		<if test="schAskStRdo != null and !schAskStRdo.equalsIgnoreCase('')">
			AND CAI.ASK_ST_CD <![CDATA[=]]> #{schAskStRdo}
		</if>

		<!-- 검색조건 : 문의유형 -->
		<if test="schAskTpChk != null and !schAskTpChk.equals('')">
			AND CAI.ASK_TP_CD IN
			<foreach item="askTpCd" index="index" collection="askTpCdList" separator="," open="(" close=")">
				#{askTpCd}
			</foreach>
		</if>

		<!-- 검색조건 : 제목 -->
		<if test="schAskTtl != null and !schAskTtl.equals('')">
			AND CAI.ASK_TTL LIKE CONCAT('%', <![CDATA[#{schAskTtl}]]>, '%')
		</if>
		ORDER BY CAI.ASK_UID	 DESC
	</select>

    <!-- 문의·요청 상세 조회 -->
	<select id="selectQna" parameterType="string" resultType="camelcasemap">
		SELECT
			CAI.ASK_UID			/* 문의채번 */
			, CAI.ASK_TP_CD		/* 문의유형코드 */
			, ESG_DB.fnCommCdNm('ASK_TP_CD', CAI.ASK_TP_CD) ASK_TP_NM 		/* 문의유형명 */
			, CAI.ASK_TTL		/* 문의제목 */
			, CAI.ASK_ST_CD		/* 문의상태코드(10: 미확인, 20: 처리중(IT), 30: 처리중(Biz), 40: 부서전달, 50: 완료) */
			, ESG_DB.fnCommCdNm('ASK_ST_CD', CAI.ASK_ST_CD) ASK_ST_NM 		/* 문의상태명 */
			, CAI.ASK_CN		/* 문의내용 */
			, CAI.MBR_ID		/* 회원아이디 */
			, CAI.ASK_MAIL		/* 문의이메일 */
			, CAI.COMP_NM		/* 회사명 */
			, CAI.COPR_UID		/* 소속채번 */
			, FORMAT(DATEADD(HOUR, 9, CAI.FST_INS_DT),'yyyy-MM-dd') FST_INS_DT		/* 최초등록일 */
			, ANSR.ANSR_CN		/* 답변내용 */
			, ANSR.ATAC_FILE_FPATH
		FROM ESG_DB.CS_ASK_INFO CAI	/* 문의정보 */
		LEFT OUTER JOIN ESG_DB.CS_ANSR_INFO ANSR ON ANSR.ASK_UID = CAI.ASK_UID
		WHERE CAI.ASK_UID = #{askUid}	/* 문의채번 */
	</select>

	<!-- 문의·요청 등록 -->
	<insert id="insertQna" parameterType="camelcasemap">
		<selectKey keyProperty="csAskInfoUid" resultType="int" order="BEFORE">
			UPDATE ESG_DB.sequences
			SET currval = sequences.CURRVAL + 1
			OUTPUT inserted.currval
			WHERE NAME = 'CS_ASK_INFO_SQ01'
		</selectKey>
		INSERT INTO ESG_DB.CS_ASK_INFO(
			ASK_UID				/* 문의채번 */
			, ASK_TP_CD			/* 문의유형코드 */
			, ASK_TTL			/* 문의제목 */
			, ASK_ST_CD			/* 문의상태코드(10: 미확인, 20: 처리중(IT), 30: 처리중(Biz), 40: 부서전달, 50: 완료) */
			, ASK_CN			/* 문의내용 */
			, MBR_ID			/* 회원아이디 */
			, ASK_MAIL			/* 문의이메일 */
			, COMP_NM			/* 회사명 */
			, COPR_UID			/* 소속채번 */
			, FST_INS_ID		/* 최초등록아이디 */
			, LST_UPD_ID		/* 최종수정아이디 */
		) VALUES(
			#{csAskInfoUid}	/* 문의채번 */
			, #{regAskTpCdSelect}		/* 문의유형코드 */
			, <![CDATA[#{regAskTtl}]]>	/* 문의제목 */
			, '10'						/* 문의상태코드(10: 미확인, 20: 처리중(IT), 30: 처리중(Biz), 40: 부서전달, 50: 완료) */
			, <![CDATA[#{regAskCn}]]>	/* 문의내용 */
			, #{mbrId}					/* 회원아이디 */
			, #{askMail}				/* 문의이메일 */
			, #{compNm}					/* 회사명 */
			, #{coprUid}				/* 소속채번 */
			, #{mbrId}					/* 최초등록아이디 */
			, #{mbrId}					/* 최종수정아이디 */
		)
	</insert>

    <!-- 문의·요청 수정 -->
    <update id="updateQna" parameterType="camelcasemap">
        UPDATE 	ESG_DB.CS_ASK_INFO
        SET
            ASK_CN = <![CDATA[#{dtlAskCn}]]>
            , LST_UPD_DT = GETDATE()
            , LST_UPD_ID = #{mbrId}
        WHERE ASK_UID = #{askUid}
    </update>
</mapper>
